{%extends 'admin/base.html'%}
{%block body%}
<h1 class="subject"> Thống Kê Và Báo Cáo</h1>
<div class="container">
    <form method="GET" action="">
        <div class="form-group">
            <label for="month">Month:</label>
            <input type="text" class="form-control" placeholder="month" id="month" name="month"value="{{ month }}">
        </div>
        <div class="form-group">
            <label for="year">Year:</label>
            <input type="text" class="form-control" placeholder="year" id="year" name="year" value="{{ year }}">
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <table class="table">
                <tr>
                    <th>Tháng</th>
                    <th>Doanh Thu</th>
                </tr>
                {%if revenue%}
                <tr>
                    <th>{{month}}/{{year}}</th>
                    <th>{{revenue}}</th>
                </tr>
                {%endif%}
            </table>
        </div>
    </div>
</div>
{%endblock%}