{%extends 'admin/base.html'%}
{%block body%}
<h1 class="subject"> Thống Kê Và Báo Cáo</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <table class="table">
                <tr>
                    <th>Giới Tính</th>
                    <th>Số Lượng</th>
                </tr>
                {%if count%}

                <tr>
                    <th>Nam</th>
                    <th>{{count['total_nam']}}</th>
                </tr>
                <tr>
                    <th>Nữ</th>
                    <th>{{count['total_nu']}}</th>
                </tr>

                {%endif%}
            </table>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="dropdown">
              <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                  Chọn Lớp
              </button>
              <div class="dropdown-menu">
                    {%if classes%}
                    {%for c in classes%}
                        <a class="dropdown-item" href="{{url_for('statschildbyclasses_id.index',class_id=c.id)}}">{{c.name}}</a>
                    {%endfor%}
                    {%endif%}
              </div>
            </div>
            <canvas id="myGenderChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              {%if count%}
              let labels=['Nam','Nữ','Tổng']
              let data=[]

              data.push({{count['total_nam']}})
              data.push({{count['total_nu']}})
              data.push({{count['total']}})

              window.onload=function(){
                      const ctx = document.getElementById('myGenderChart');

                      new Chart(ctx, {
                        type: 'bar',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'TyLeGioiTinh',
                            data: data,
                            borderWidth: 1
                          }]
                        },
                        options: {
                          scales: {
                            y: {
                              beginAtZero: true
                            }
                          }
                        }
                      });
              }
              {%endif%}
            </script>
        </div>
    </div>
</div>
{%endblock%}