{% extends 'layout/base.html'%}<!-- extends cần thay đổi j thì ghi đè lên như sau -->
{%block title%}Trang chủ{%endblock%}
{%block content%}
<h1 class="subject"> Thống Kê Và Báo Cáo</h1>
<div class="container">
    <div class="dropdown">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
          Chọn Lọc
      </button>
      <div class="dropdown-menu">
           <a class="dropdown-item" href="#">Doanh Thu</a>
           <a class="dropdown-item" href="#">Sĩ Số</a>
           <a class="dropdown-item" href="{{url_for('stats')}}">Nam Nữ</a>
      </div>

    </div>


    <div class="row">
        <div class="col-md-6 col-xs-12">
            <table class="table">
                <tr>
                    <th>Giới Tính</th>
                    <th>Số Lượng</th>
                </tr>
                {%if count%}

                <tr>
                    <th>Nam</th>
                    <th>{{count['total_nam']}}</th>
                </tr>
                <tr>
                    <th>Nữ</th>
                    <th>{{count['total_nu']}}</th>
                </tr>

                {%endif%}
            </table>
        </div>
        <div class="col-md-6 col-xs-12">
            <canvas id="myGenderChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
              let labels=['Nam','Nữ']
              let data=[]

              data.push({{count['total_nam']}})
              data.push({{count['total_nu']}})

              window.onload=function(){
                      const ctx = document.getElementById('myGenderChart');

                      new Chart(ctx, {
                        type: 'bar',
                        data: {
                          labels: labels,
                          datasets: [{
                            label: 'TyLeGioiTinh',
                            data: data,
                            borderWidth: 1
                          }]
                        },
                        options: {
                          scales: {
                            y: {
                              beginAtZero: true
                            }
                          }
                        }
                      });
              }
            </script>
        </div>
    </div>


    {%endblock%}
</div>
